# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
.vscode/

# Publish profiles
*.pubxml
*.publishproj

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Build outputs
*.dll
*.exe
*.pdb

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Azure Functions
local.settings.json

# Rider
.idea/

# macOS
.DS_Store
